In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('data/output1.csv')

In [5]:
df.head()

,CustomerID,Gender,Age,LastTransactionDate,CurrentBalance,TransactionCount,TotalTransactionAmount
0,C6624352,M,34,2016-09-27,152832.32,6,8375.74
1,C3226689,M,26,2016-09-30,96820.46,6,14758.39
2,C1026833,M,22,2016-08-31,118800.14,6,3336.00
3,C6222360,F,24,2016-12-09,5270.90,6,5825.00
4,C6735477,M,26,2016-12-09,12729.49,6,2504.00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CustomerID              100000 non-null  object
 1   Gender                  100000 non-null  object
 2   Age                     100000 non-null  int64
 3   LastTransactionDate     100000 non-null  object
 4   CurrentBalance          100000 non-null  float64
 5   TransactionCount        100000 non-null  int64
 6   TotalTransactionAmount  100000 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 5.3+ MB

In [7]:
df['LastTransactionDate'].dtype

dtype('O')

In [8]:
def safe_to_datetime(col):
    """Attempt to convert a Series to datetime, using errors='coerce'. If conversion yields all NaT, return the original column."""
    try:
        converted = pd.to_datetime(col, errors='coerce')
        # If a significant number of values were converted, return the converted series
        if converted.notna().sum() > 0:
            print(f"DEBUG: Converted column to datetime with {converted.notna().sum()} non-NaT values.")
            return converted
        else:
            print("DEBUG: Conversion resulted in all NaT, returning original column.")
            return col
    except Exception as e:
        print(f"DEBUG: safe_to_datetime conversion error: {e}")
        return col

In [9]:
df['LastTransactionDate_changed'] = safe_to_datetime(df['LastTransactionDate'])

DEBUG: Converted column to datetime with 100000 non-NaT values.

In [11]:
df['LastTransactionDate_changed'].dtype

dtype('<M8[ns]')